# KAMP settings for the K2 Plus with Beacon RevH.
[include KAMP/Adaptive_Meshing.cfg]

[gcode_macro _KAMP_Settings]
description: Settings used by Klipper Adaptive Meshing
variable_verbose_enable: True
variable_mesh_margin: 5
variable_fuzz_amount: 0
variable_probe_dock_enable: False
variable_attach_macro: 'Attach_Probe'
variable_detach_macro: 'Dock_Probe'
gcode:
  {action_respond_info("KAMP settings are stored in this macro")}

